:root {
    --emphasis-color: #0A004A;
    --secondary-color: #B377FF;
    --primary-color: #5899E2;
    --background-color: #04001D;
    --dark-color: #100C29;
    --font-family: 'Nunito', sans-serif;
    --background: rgb(179, 119, 255);
    --background-gradient: linear-gradient(130deg, rgba(179, 119, 255, 1) 0%, rgba(88, 153, 226, 1) 82%);
    --shadow: rgba(0, 0, 0, 0.3) 0 4px 4px;
}

.sectionWelcome,
.sectionRegister, .sectionLogin {
    flex-direction: row;
}

.welcome__figure {
    padding-left: 5%;
}

.welcome__illustration {
    width: 100%;
}

.welcome__container,
.register__container {
    width: 60%;
    padding-right: 8rem;
}

.welcome__container {
    gap: 1.8rem;
}

.welcome__logo {
    width: 5rem;
}

.welcome__title {
    font-size: 4rem;
}

.welcome__message {
    font-size: 3rem;
}

.button {
    width: 75%;
    font-size: 1.8rem;
    font-weight: 800;
}

.welcome__text {
    font-size: 1.8rem;
    font-weight: 800;
}

.welcome__button-google,
.register__button-google {
    font-weight: 700;
}

.welcome__logo-google {
    width: 2.4rem;
    margin-right: 1rem;
}

.register__container {
    padding-right: 8rem;
}

.register__figure {
    width: 100%;
    display: block;
    padding-left: 5%;
}

.register__illustration {
    width: 100%;
}

.register__logo {
    width: 5rem;
}

.register__title {
    font-size: 2.3rem;
}

.register__form {
    width: 80%;
}

.register__form label {
    margin-top: 1.2rem;
    font-size: 1.8rem;
}

.register__form input {
    padding: 2rem;
    font-size: 1.8rem;
}

.error {
    font-size: 1.5rem;
}

.register__button {
    margin-top: 2.5rem;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 800;
}

.register__text {
    font-size: 1.7rem;
    font-weight: 800;
    margin: 0.8rem 0;
}

.register__button-google {
    width: 80%;
    font-size: 1.8rem;
}

.register__logo-google {
    width: 2.4rem;
    margin-right: 1rem;
}

.register__text:last-child {
    font-size: 1.8rem;
    margin-top: 2rem;
    font-weight: 700;
}

.sectionWall{
    flex-direction: row;
    width: 100%;
}

.wall__header{
    left: 0;
    flex-direction: column;
    justify-content: center;
    width: 17%;
    min-height: 100vh;
    margin: 0;
    background-color: var(--dark-color);
}

.wall__brand{
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.wall__logo{
    height: 25%;
    margin: 0;
}

.wall__title{
    font-size: 4rem;
}

.wall__logout {
    position: absolute;
    bottom: 2rem;
    margin: 0;
    width: 100%;
}

.wall__logout p{
    display: block;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.wall__logout i{
    font-size: 1.4rem;
}

.wall__inputs {
    width: 80%;
    gap: 3rem;
    padding: 3rem 10% 3rem 19%;
}

.post {
    width: 100%;
    min-height: 17rem;
    padding: 1.5rem;
    background-color: var(--dark-color);
    color: white;
    border-radius: 2.5rem;
}

.post__user{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
} 

.post__user-photo{
   width: 4rem;
   border-radius: 50%; 
}

.post__username {
    margin-left: 1rem;
    font-size: 2rem;
}

.post__message{
    margin: 0 0.5rem 1rem 0.5rem;
    font-size: 1.7rem;
}

.post__like-button {
    font-size: 3rem;
}

.post__like-counter {
    font-size: 1.5rem;
}

.edit-delete-button-desktop {
    font-size: 2.5rem ;
}

.wall__add-post-modal {
    width: 50%;
    height: 80%;
}

.wall__modal-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wall__modal-profile-picture {
    width: 5rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.wall__modal-user-name {
    font-size: 2rem;
}

.wall__modal-exit-button {
    margin-bottom: 2rem;
    font-size: 2rem;
    background: -webkit-linear-gradient(var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wall__modal-add-text {
    margin: 1.5rem;
    width: 100%;
    height: 70%;
    border: none;
    background-color: var(--dark-color);
    outline: none;
    resize: none;
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: white;
}

.wall__modal-add-text::placeholder {
    color: #d9d9d9;
}

.wall__modal-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.wall__post-button {
    padding: 0.5rem 1.2rem;
    border-radius: 3rem;
    background: var(--background-gradient);
    border: none;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 800;
    color: white;
    text-shadow: var(--shadow);
}

.wall__footer {
    flex-direction: column;
    right: 0;
    width: 8%;
    min-height: 100vh;
    margin-bottom: 0;
    background-color: var(--dark-color);
}

.wall__button-add {
    padding: 0rem 1.3rem;
    font-size: 3.5rem;
}
