:root {
    --emphasis-color: #0A004A;
    --secondary-color: #B377FF;
    --primary-color: #5899E2;
    --font-family: 'Nunito', sans-serif;
    --background: rgb(179, 119, 255);
    --background-gradient: linear-gradient(130deg, rgba(179, 119, 255, 1) 0%, rgba(88, 153, 226, 1) 82%);
    --shadow: rgba(0, 0, 0, 0.3) 0 4px 4px;
}

.sectionWelcome,
.sectionRegister {
    flex-direction: row;
}

.welcome__figure {
    padding-left: 5%;
}

.welcome__illustration {
    width: 100%;
}

.welcome__container,
.register__container {
    width: 60%;
    padding-right: 8rem;
}

.welcome__container {
    gap: 1.8rem;
}

.welcome__logo {
    width: 6rem;
}

.welcome__title {
    font-size: 5rem;
}

.welcome__message {
    padding: 0 6rem;
    font-size: 3.8rem;
}

.button {
    width: 70%;
    font-size: 2.2rem;
    font-weight: 800;
}

.welcome__text {
    font-size: 2.2rem;
    font-weight: 800;
}

.welcome__button-google,
.register__button-google {
    font-weight: 700;
}

.welcome__logo-google {
    width: 2.8rem;
    margin-right: 1rem;
}

.register__container {
    padding-right: 8rem;
}

.register__figure {
    width: 100%;
    display: block;
    padding-left: 5%;
}

.register__illustration {
    width: 100%;
}

.register__logo {
    width: 6rem;
}

.register__title {
    font-size: 2.8rem;
}

.register__form {
    width: 80%;
}

.register__form label {
    margin-top: 1.4rem;
    font-size: 2rem;
}

.register__form input {
    padding: 2.2rem;
    font-size: 2.2rem;
}

.register__button {
    margin-top: 3rem;
    width: 100%;
    font-size: 2.2rem;
    font-weight: 800;
}

.register__text {
    font-size: 2rem;
    font-weight: 800;
    margin: 0.8rem 0;
}

.register__button-google {
    width: 80%;
    font-size: 2.2rem;
}

.register__logo-google {
    width: 2.8rem;
    margin-right: 1rem;
}

.register__text:last-child {
    font-size: 2.2rem;
    margin-top: 2rem;
    font-weight: 700;
}

.wall__header {
    width: 20%;
}

.wall__title {
    font-size: 4.7rem;
}

.wall__logout p {
    font-size: 2rem;
}

.wall__logout i {
    font-size: 2rem;
}

.wall__inputs {
    padding: 3rem 8.9% 3rem 19%;
}

.wall__footer {
    width: 10%;
}

.wall__button-add {
    padding: 0rem 1.56rem;
    font-size: 4rem;
}