:root {
    --emphasis-color: #0A004A;
    --secondary-color: #B377FF;
    --primary-color: #5899E2;
    --background-color: #04001D;
    --dark-color: #100C29;
    --font-family: 'Nunito', sans-serif;
    --background: rgb(179, 119, 255);
    --background-gradient: linear-gradient(130deg, rgba(179, 119, 255, 1) 0%, rgba(88, 153, 226, 1) 82%);
    --shadow: rgba(0, 0, 0, 0.3) 0 4px 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--font-family);
}

.sectionWelcome,
.sectionRegister, .sectionLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    min-height: 100vh;
    background: var(--background-gradient);
}

.welcome__figure,
.welcome__logo-brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.welcome__illustration {
    width: 70%;
}

.welcome__container,
.register__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 1rem;
}


.welcome__logo {
    width: 5rem;
}

.welcome__title {
    font-size: 4.5rem;
    color: white;
    font-weight: 800;
    text-shadow: var(--shadow);
}

.welcome__message {
    font-size: 2.5rem;
    color: white;
    font-weight: 400;
    text-shadow: var(--shadow);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 1rem 0;
    font-size: 2rem;
    border: none;
    border-radius: 3rem;
    text-decoration: none;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.welcome__button,
.register__button {
    background-color: var(--emphasis-color);
    color: white;
    font-weight: 900;
    text-shadow: var(--shadow);
}

.welcome__text,
.register__title,
.register__text {
    color: white;
    font-weight: 900;
    text-shadow: var(--shadow);
    font-size: 2rem;
}

.welcome__button-google,
.register__button-google {
    font-weight: 700;
    font-family: var(--font-family);
    color: #757575;
    background-color: white;
}

.welcome__button-google:hover,
.register__button-google:hover {
    background-color: #f5f5f5;
}

.welcome__logo-google,
.register__logo-google {
    width: 2.5rem;
    margin-right: 1rem;
}

.register__figure {
    display: none;
}

.register__logo {
    width: 6rem;
}

.register__title {
    font-size: 2.5rem;
}

.register__form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
}

.register__form label {
    margin-top: 1.5rem;
    font-size: 1.8rem;
    font-family: var(--font-family);
    font-weight: 700;
    color: white;
    text-shadow: var(--shadow);
}

.register__form input {
    width: 100%;
    height: 3.5rem;
    border-radius: 3rem;
    border: none;
    box-shadow: var(--shadow);
    padding-left: 2rem;
    outline: none;
    font-size: 1.8rem;
    font-family: var(--font-family);
}

.register__form input:invalid:focus {
    outline: solid red 2px;
}

.error {
    margin: 0.6rem 0 0 1.2rem;
    color: var(--emphasis-color);
    font-weight: 700;
    font-size: 1.5rem;
    display: none;
}

.register__button {
    margin-top: 2rem;
    width: 100%;
    font-family: var(--font-family);
}

.welcome__button:hover,
.register__button:hover {
    background-color: #802CEA;
    color: white;
    box-shadow: rgb(203, 170, 245) 0 0 1.5rem;
}

.register__text {
    font-weight: 700;
}

.register__text a {
    color: white;
    font-weight: 900;
}

.register__text:last-child {
    margin-top: 1rem;
}

.sectionWall{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--background-color);
}

.wall__header{
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 7rem;
    background-color: var(--background-color);
}

.wall__brand{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wall__logo{
    height: 60%;
    margin-left: 2rem;
    margin-right: 0.7rem;
}

.wall__title{
    font-size: 3.3rem;
    font-weight: 900;
    background: -webkit-linear-gradient(var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wall__logout{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

.wall__logout p{
    display: none;
    color: white;
}

.wall__logout i{
    font-size: 2rem;
    color: white;
}

.wall__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8rem 0;
    gap: 3rem;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    min-height: 17rem;
    padding: 1.5rem;
    background-color: var(--dark-color);
    color: white;
    border-radius: 2.5rem;
}

.post__user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
}

.post__user-info {
    display: flex;
    align-items: center;
}

.post__user-photo{
   width: 4rem;
   border-radius: 50%;
}

.post__username {
    margin-left: 1rem;
    font-size: 2rem;
}

.post__edit-delete-button {
    font-size: 2.5rem;
    display: none;
}

.post__message{
    margin: 0 0.5rem 3rem 0.5rem;
    font-size: 1.7rem;
}

.post__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__like-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post__like-button {
    border: none;
    font-size: 3rem;
    background: -webkit-linear-gradient(var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.post__like-counter {
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 0.6rem;
}

.like-button-empty {
    display: block;
    cursor: pointer;
}

.like-button-solid {
    display: none;
}

.edit-delete-button-desktop {
    border: none;
    font-size: 2.5rem;
    background: -webkit-linear-gradient(var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 2rem;
    cursor: pointer;
}

.post__container-edit-delete-modal {
    display: none;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.post__edit-delete-modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 16rem;
    background-color: var(--dark-color);
    border-radius: 3rem 3rem 0rem 0rem;
    color: white;
}

.edit__button, .delete__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-delete-button-mobile {
    background: var(--background-gradient);
    width: 7rem;
    height: 7rem;
    font-size: 3.7rem;
    color: white;
    border-radius: 50%;
    border: transparent;
    padding: 0.2rem;
}

.edit-delete-button-mobile div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.post__edit-delete-text {
    margin-top: 0.4rem;
    font-size: 1.4rem;
}

.wall__container-add-post-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.wall__add-post-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 70%;
    padding: 2.5rem;
    border-radius: 4rem;
    background-color: var(--dark-color);
}

.wall__modal-info-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
}

.wall__modal-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wall__modal-profile-picture {
    width: 5rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.wall__modal-user-name {
    font-size: 2rem;
}

.wall__modal-exit-button {
    margin-bottom: 2rem;
    font-size: 2rem;
    background: -webkit-linear-gradient(var(--secondary-color), var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wall__modal-add-text {
    margin: 1.5rem;
    width: 100%;
    height: 70%;
    border: none;
    background-color: var(--dark-color);
    outline: none;
    resize: none;
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: white;
}

.wall__modal-add-text::placeholder {
    color: #d9d9d9;
}

.wall__modal-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.wall__add-image-button {
    background-color: transparent;
    border: none;
    font-family: var(--font-family);
    font-size: 1.4rem;
    color: white;
}

.wall__add-image-button i {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.wall__post-button {
    padding: 0.5rem 1.2rem;
    border-radius: 3rem;
    background: var(--background-gradient);
    border: none;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 800;
    color: white;
    text-shadow: var(--shadow);
}

.wall__footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6rem;
    padding-bottom: 1rem;
    background: var(--background-color);
}

.wall__button-add{
    padding: 0rem 1.15rem;
    font-family: var(--font-family);
    font-size: 3rem;
    font-weight: 900;
    text-shadow: var(--shadow);
    color: var(--background-color);
    border: none;
    border-radius: 50px;
    background: var(--background-gradient);
}

.wall__button {
    cursor: pointer;
}






