:root {
    --emphasis-color: #0A004A;
    --secondary-color: #B377FF;
    --primary-color: #5899E2;
    --font-family: 'Nunito', sans-serif;
    --background: rgb(179, 119, 255);
    --background-gradient: linear-gradient(130deg, rgba(179, 119, 255, 1) 0%, rgba(88, 153, 226, 1) 82%);
    --shadow: rgba(0, 0, 0, 0.3) 0 4px 4px;
}

.welcome__illustration {
    width: 55%;
}

.welcome__container {
    gap: 2.5rem;
}

.welcome__title {
    font-size: 8rem;
}

.welcome__logo {
    width: 9rem;
}

.welcome__message {
    font-size: 5rem;
}

.button {
    padding: 1.5rem 0;
    width: 65%;
    font-size: 3.5rem;
    border-radius: 5rem;
}

.welcome__button {
    font-weight: 700;
}

.welcome__text {
    font-size: 3.5rem;
    font-weight: 700;
}

.welcome__logo-google,
.register__logo-google {
    width: 4rem;
    margin-right: 1rem;
}

.register__container {
    gap: 0.7rem;
}

.register__logo {
    width: 10rem;
}

.register__title {
    font-size: 4.8rem;
}

.register__form {
    width: 65%;
}

.register__form label {
    margin-top: 2rem;
    font-size: 3rem;
}

.register__form input {
    padding: 3rem;
    font-size: 3rem;
}

.error {
    margin: 0.7rem 0 0 1.5rem;
    font-size: 2.3rem;
}

.register__button {
    margin-top: 3rem;
    width: 100%;
    font-weight: 700;
}

.register__text {
    font-size: 3.2rem;
    margin: 1.5rem 0;
}

.register__text:last-child {
    font-size: 3.5rem;
    margin-top: 3rem;
}

.wall__header {
    height: 9rem;
    padding: 1.5rem 0;
}

.wall__logo {
    height: 80%;
}

.wall__title {
    font-size: 4.5rem;
}

.wall__logout i {
    font-size: 2.5rem;
}

.wall__inputs {
    padding: 10rem 0;
}

.post {
    min-height: 22rem;
    padding: 2rem;
}

.post__user-photo{
    width: 5.5rem;
    border-radius: 50%;
 }
 
 .post__username {
     margin-left: 1rem;
     font-size: 2.8rem;
 }
 
 .post__message{
     margin: 0 0.5rem 1rem 0.5rem;
     font-size: 2.5rem;
 }
 .post__like-counter {
    font-size: 2.2rem;
}
 .post__like-button {
    font-size: 4rem;
 }

 .edit-delete-button-desktop {
    font-size: 3.5rem;
 }

.wall__footer {
    height: fit-content;
    padding: 1rem 0rem;
}

.wall__button-add {
    margin: 0.5rem;
    padding: 0rem 1.675rem;
    font-size: 4.5rem;
}

.wall__add-post-modal {
    padding: 3rem;
}


.wall__modal-profile-picture {
    width: 6.5rem;
}

.wall__modal-user-name {
    font-size: 3.2rem;
    font-weight: 800;
}

.wall__modal-exit-button {
    font-size: 3rem;
}

.wall__modal-add-text {
    font-size: 2.3rem;
}

.wall__post-button {
    padding: 0.5rem 1.5rem;
    font-size: 2.5rem;
}

